<?php
declare(strict_types=1);
$namespaceDefinition
use App\Utilities\Phinx\PhinxHelperTrait;
use $useClassName;

final class $className extends $baseClassName
{
    use PhinxHelperTrait;

    public function up()
    {

    }

    public function down()
    {

    }
}
